*{
    padding:0;
    margin:0; 
    font-family:sans-serif; 
    font-size: 12px; 
    font-weight: 1;
}
.logo{
    background-color:#80808077;
    width:fit-content; 
    padding:7px 20px; 
    align-self: center;
    margin-top:30px;
}
body{
    display:flex; 
    align-items:center; 
    flex-direction:column;
}
main{
    display:flex;
    flex-direction:column; 
    width:420px;
}
h1{
    font-size:30px
}
form{
    display:flex; 
    flex-direction:column; 
    border:solid 1px rgba(0,0,0,.15); 
    border-radius:1px; 
    margin-top:30%;
}
form > *{
    margin:2px 15px;
}
a{
    text-decoration: none; 
    color:blue;
}
input{
    width:92%;
    padding:5px 0;
    align-self: center;
}
button{
    background-color: yellow; border-radius:1px;
    border: solid 1px orange; 
    padding:5px 0; 
    margin: 30px 15px;
}
section > *{
    margin:15px;
}
.password_div{
    display:flex;
    justify-content:flex-end;
    margin: 15px 15px 0 0;
}
.password_label{
    margin-right:50%;
}
.separator{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}
.separator hr{
    position:relative;
    width:34%; 
    height:0; 
    align-self: center;
}
.separator, .separator hr, .need_help{
    color:#00000070;
}
.new_account{
    text-align:center;
    padding:5px;
    border:solid 1px #00000048;
    border-radius: 1px;
    color:black;
}
.main_divider{
    width:99%;
    margin:40px 0;
    background-color:black;
}
.need_help{
    margin-bottom:20px;
}